body {
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    /* background-color: white; */
    border: 2px solid #000;
    border-radius: 0;
    box-shadow: none;
    padding: 20px;
    text-align: left;
    width: 700px;
    height: 400px;
    font-family: 'Garamond', 'Times New Roman', serif !important;
    font: Garamond;
    transition: transform 0.2s;
    /* background-color: #e0e0e0; */
    background-image: url('./assets/neuron.png');
    background-size: cover;
    background-position: center;
    color: #333;
}

.card:hover {
    transform: scale(1.05);
}

.button-container {
    margin-top: 20px;
}

.card button {
    background-color: #7e7d7d !important;
    
    color: #ac9595;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #201d1d;
}

@media (max-width: 1200px) {
    .card {
        width: 90%;
    }
}