body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color:#269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.card {
    /* background-color: white; */
    border: 2px solid #000;
    border-radius: 0;
    box-shadow: none;
    padding: 20px;
    text-align: left;
    width: 700px;
    height: 400px;
    font-family: 'Garamond', 'Times New Roman', serif !important;
    font: Garamond;
    transition: transform 0.2s;
    /* background-color: #e0e0e0; */
    background-image: url('../assets/so-white.png');
    background-size: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.button-container {
    margin-top: 20px;
}

.card button {
    background-color: #606060 !important;
    
    /* color: #ac9595; */
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #201d1d;
}

@media (max-width: 1200px) {
    .card {
        width: 90%;
    }
}